#map {
    height: 300px;
}

.loadingContent{
  width: 100%;
  text-align: center;
}

.loadingGif {
  margin: 10%
}

.loadingText {
  color: #8B8682;
  /*margin-top: 25%;*/
}

.footerText {
  color: #CFCFCF;
  position: fixed;
  bottom: 0;
  width: 100%;
}
