<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Hunt Chat</ion-title>
</ion-navbar>

<ion-content class="chat">
  <ion-list>
      <ion-item *ngFor="#message of messages">
          <h2>{{message[0]}}: {{message[1]}}</h2>
          <p>{{message[2]}}</p>
      </ion-item>
      <ion-item *ngIf="otherUserTyping">
         <p>{{otherUsername}} is typing...</p>
      </ion-item>
  </ion-list>
</ion-content>

  <form (ngSubmit)="send(chatBox)">
        <ion-item>
           <ion-input type="text" (keyup)="OnKey($event)" [(ngModel)]="chatBox" placeholder="Message..."></ion-input>
           <button (click)="send(chatBox)" item-right>send</button>
        </ion-item>
  </form>
