<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Hunt Chat</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
      <ion-item *ngFor="#message of messages">
          <h2>{{message[0]}}: {{message[1]}}</h2>
          <p>{{message[2]}}</p>
      </ion-item>
      <ion-item *ngIf="otherUserTyping">
         <p>{{otherUsername}} is typing...</p>
      </ion-item>
  </ion-list>
</ion-content>

<ion-toolbar position="bottom">
  <form ng-submit='submitLogin()'>
  <ion-input class="item item-input" type="text" (keyup)="OnKey($event)" [(ngModel)]="chatBox" placeholder="Message...">
  </ion-input>
  <ion-buttons end>
    <button class="item item-button-right" (click)="send(chatBox)" (ngSubmit)="send(chatBox)">
      Send
    </button>
  </ion-buttons>
  </form>
</ion-toolbar>
