<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Friend Profile</ion-title>
</ion-navbar>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{friend.firstname}} {{friend.lastname}}
    </ion-card-header>
    <ion-list>
      <button ion-item *ngFor="#hunt of hunts" (click)="huntTapped($event, hunt)">
        <ion-icon name="search" item-left></ion-icon>
        <span *ngIf="!hunt.stats.huntname">
          {{hunt.stats.huntID}}
        </span>
        <span *ngIf="hunt.stats.huntname">
          {{hunt.stats.huntname}}
        </span>
      </button>
    </ion-list>
  </ion-card>
</ion-content>