<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Hunts</ion-title>
</ion-navbar>


<ion-content class="loadingContent" *ngIf="!userLat && !userLng">
  <img class="loadingGif" src="{{loadingImg}}">
  <h1 class="loadingText">The party is the search...</h1>
  <h5 class="footerText">Brought to you by English Muffin LLC</h5>
</ion-content>

<ion-content class="has-header cards-bg" *ngIf="userLat && userLng" >

  <ion-card class="adv-map" *ngFor="#item of items" (click)="navCreateHunt($event, item)">

    <div style="position: relative">
      <img src="{{item.image}}">
      <button fab fab-right fab-top class="fab-map">
        <ion-icon name='search'></ion-icon>
      </button>
    </div>
    <ion-item>
      <ion-icon subtle large item-left name='{{item.icon}}'></ion-icon>
      <h1>{{item.huntname}}</h1>
    </ion-item>
    <!-- <ion-item actions>
      <span item-left secondary class="item-bold">18 min</span>
      <span item-left subtle>(2.6 mi)</span>
      <button primary clear item-right>
        <ion-icon name='navigate'></ion-icon>
        Start
      </button>
    </ion-item> -->
  </ion-card>

  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>

</ion-content>
