ion-card.adv-map p {
  font-size: 0.7em !important;
}

button[fab].fab-map {
  top: calc(100% - 35px);
  z-index: 50;
}

.item-bold {
  font-weight: bold;
}

#map {
  height: 300px;
}

.loadingContent{
  width: 100%;
  text-align: center;
}

.loadingGif {
  margin: 30%
}

.loadingText {
  font-family: 'Indie Flower', times;
  color: #8B8682;
  //margin-top: 25%;
}

.footerText {
  color: #CFCFCF;
  position: fixed;
  bottom: 0;
  width: 100%;
}

