<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Past {{huntName}} Hunt</ion-title>
</ion-navbar>

<ion-content class="has-header cards-bg">
  <ion-card class="adv-map"> 
    <ion-item>
      <h2>Distance Travelled:</h2>
      <p>{{totalDist}} miles</p>
    </ion-item>

    <ion-item>
      <div id="map"></div>
    </ion-item>

    <ion-item>
      <div *ngFor="#obj of huntTasks">
        <strong>Location</strong>
        <p>{{obj.place.name}}</p>
        <strong>Challenge</strong>
        <p>{{obj.task.content}}</p>
        <img *ngIf="obj.image" src="{{obj.image.url}}">
      </div>
    </ion-item>
  </ion-card>

  <ion-card>
    <h2>Hunt Chat:</h2>
    <div *ngFor="#obj of huntChats">
      <p>{{obj.username}} said at {{obj.datetime}}</p>
      <p>{{obj.text}}</p>
    </div>
    <div *ngIf="!huntChats">
      <p>No chats to display</p>
    </div>
  </ion-card> 

   

 <ion-item *ngIf="error"> 
    <p>{{error}}</p>
 </ion-item> 
</ion-content>

