<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title *ngIf="tasksLeft">Current Task</ion-title>
  <ion-title *ngIf="!tasksLeft">Congratulations {{user}}!</ion-title>
</ion-navbar>

<ion-content class="has-header cards-bg">
  <ion-card class="adv-map">
    <div style="position: relative">
      <ion-item *ngIf="tasksLeft">
        <h2>{{locName}}</h2> 
        <h2>{{locAddress}}</h2>
      </ion-item>
      <ion-item *ngIf="!tasksLeft">
        <h2>You completed <strong>{{previousTasks.length}}</strong> tasks and travelled <strong>{{finalDist}}</strong> miles</h2>
      </ion-item>
      <div id="map"></div>
    </div>
    <ion-item *ngIf="tasksLeft">
      <ion-icon subtle large item-left name='ios-pint'></ion-icon>
      <h3>Current challenge</h3>
      <p>{{currChallenge}}</p> 
    </ion-item>
    <ion-item *ngIf="!tasksLeft">
      <h3>You started this hunt at:</h3>
        <p>{{startTime}}</p> 
      <h3>and ended at:</h3>
        <p>{{endTime}}</p> 
    </ion-item>
    <ion-item *ngIf="tasksLeft">
      <ion-label>Mark Complete</ion-label>
      <ion-checkbox secondary [checked]="completeToggle" (click)="markComplete()"></ion-checkbox>
    </ion-item>
    <button primary clear item-right *ngIf="completeToggle && tasksLeft" (click)="getNewTask()">  
      Next Task
    </button>
  </ion-card>

  <ion-card *ngIf="!tasksLeft">
    <ion-list>
      <ion-list-header>
        <h2>How was your hunt?</h2>
      </ion-list-header>
      <ion-item>
        <button id="goodReview" (click)="sendFeedback(1)">
          <ion-icon name="thumbs-up"></ion-icon>
        </button>
      </ion-item>
      <ion-item>  
        <button id="badReview" (click)="sendFeedback(2)">
          <ion-icon name="thumbs-down"></ion-icon>
        </button>
      </ion-item>
    </ion-list>  
  </ion-card>

</ion-content>