<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Current Task</ion-title>
</ion-navbar>

<ion-content class="has-header cards-bg">
  
  <ion-card class="adv-map">
    <div style="position: relative">
      <ion-item>
        <h2>{{name}}</h2>
        <h2>{{adress}}</h2>
      </ion-item>
      <img src="{{item.image}}"> <!-- put google map here -->
    </div>
    <ion-item>
      <ion-icon subtle large item-left name='{{item.icon}}'></ion-icon>
      <h3>{{challenge}}</h3>
    </ion-item>
    <ion-item actions>
      <!-- mark as complete -->
      
      <!-- go to next task -->
      <button primary clear item-right (click)="getNewTask()">
        Next Task
      </button>
    </ion-item>
  </ion-card>

 <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->

  </ion-content>