<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>My Profile</ion-title>
</ion-navbar>

<ion-content>
  <h2>Your Friends</h2>
  <ion-list>
    <button ion-item *ngFor="#friend of friends" (click)="seeFriends($event, friend)">
      <ion-icon name="{{friend.icon}}" item-left></ion-icon>
      {{friend.name}}
      <div class="item-note" item-right>
        {{friend.note}}
      </div>
    </button>
  </ion-list>
</ion-content>

<ion-content>
  <ion-list>
    <h2>Your Hunts</h2>
    <button ion-item *ngFor="#hunt of hunts" (click)="itemTapped($event, hunt)">
      <ion-icon name="{{hunt.icon}}" item-left></ion-icon>
      {{hunt.title}}
      <div class="item-note" item-right>
        {{hunt.note}}
      </div>
    </button>
  </ion-list>
</ion-content>
