<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>My Profile</ion-title>
</ion-navbar>

<ion-content>
  <form #friendAdd="ngForm" (ngSubmit)="addFriend(friendAdd.value)">
    <ion-item>
      <!-- <ion-label fixed>Add friend</ion-label> -->
      <ion-input placeholder="Add friend" type="text" ngControl="username"></ion-input>
      <ion-icon ios="ios-add" md="md-add" click="addFriend(friendAdd.value)"></ion-icon>
    </ion-item>
  </form>


  <ion-card *ngIf="noFriend">
    <ion-item>Cannot find that friend!</ion-item>
  </ion-card>  

  <ion-card>
    <ion-card-header>
      Your Friends
    </ion-card-header>
    <ion-list *ngIf="friends">
      <button ion-item *ngFor="#friend of friends" (click)="friendTapped($event, friend)">
        <ion-icon name="contact" item-left></ion-icon>
        {{friend.firstname}} {{friend.lastname}}
      </button>
    </ion-list>
    <ion-list *ngIf="!friends">
      <p ion-item>
        You have no friends, so go make some!
      </p>
    </ion-list>
  </ion-card>

   <ion-card>
    <ion-card-header>
      Hunts I've Been Added To
    </ion-card-header>
    <ion-list>
      <button ion-item *ngFor="#hunt of addedHunts">
          <div (click)="onGoingHuntTapped($event, hunt)">
            <ion-icon name="search" item-left></ion-icon>
            {{hunt.stats.huntID}}
          </div>
          <ion-icon name="person-add" item-right (click)="addFriendToHuntTapped($event, hunt)"></ion-icon>
      </button>
    </ion-list>
  </ion-card>


  <ion-card>
    <ion-card-header>
      Ongoing Hunts
    </ion-card-header>
    <ion-list>
      <!-- <div *ngIf="hunts"> -->
      <button ion-item *ngFor="#hunt of hunts | HuntFilterPipe:'nada'" >
        <!-- <div *ngIf="!hunt.feedback.value"> -->
        <ion-icon name="search" item-left></ion-icon>
        <div (click)="onGoingHuntTapped($event, hunt)">
          {{hunt.stats.huntID}}
        </div>
        <ion-icon name="person-add" item-right (click)="addFriendToHuntTapped($event, hunt)"></ion-icon>
        <!-- </div> -->
      </button>
      <!-- </div> -->
    </ion-list>
  </ion-card>


  <ion-card>
    <ion-card-header>
      Liked Completed Hunts
    </ion-card-header>
    <ion-list>
      <!-- <div *ngIf="hunts"> -->
      <button ion-item *ngFor="#hunt of hunts | HuntFilterPipe:'good'" >
        <ion-icon name="search" item-left></ion-icon>
        <div (click)="huntTapped($event, hunt)">
          {{hunt.stats.huntID}}
        </div>

      </button>
      <!-- </div> -->
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Disliked Completed Hunts
    </ion-card-header>
    <ion-list>
      <!-- <div *ngIf="hunts"> -->
      <button ion-item *ngFor="#hunt of hunts | HuntFilterPipe:'bad'" >
        <ion-icon name="search" item-left></ion-icon>
        <div (click)="huntTapped($event, hunt)">
          {{hunt.stats.huntID}}
        </div>

      </button>
      <!-- </div> -->
    </ion-list>
  </ion-card>

</ion-content>
