.chatStart {
   width: 100%
}

.prompt {
   color: #8B8682;
   vertical-align: middle;
};

input {
   width: 95%;
   padding: 5%;
   height: 25%;
   border: 2px solid #d51;
}

.userNameBtn {
   background-color: #d51;
   margin-top: 2%;
   padding: 5%;
   font-weight: bold
}


.mainChat {
   width: 100%;
   margin: 0 auto;
   padding: 1%;
   margin: 2%;
}

.chatStart {
   text-align: center;
   width: 100%;
}

.msg {
   text-align: center;
   margin-top: 10%;
   width: 100%;
}

.chatMessMaster {
   float: left;
   display: block;
   padding: 0px;
   overflow-y: scroll;
   overflow-x: hidden;
   margin:0px;
}
.chatMess {
   display: block;
   width: 90%;
   padding:2%;
   margin:1%;
   border: 2px solid #d51;
   word-wrap: break-word;
}

.msgText {
   padding:2%;
   margin: 1%;
   width: 95%;
   border: 2px solid #d51;
}

.sendMsg {
   padding: 1%;
   margin: 2%;
   width: 95%;
   background-color: #d51;
}
/*#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }*/
