<div class="chatStart" *ngIf="!nameAdded" layout="column" >
  <strong class="prompt" flex="5">Enter your name to start chatting</strong>
  <input  #username placeholder="name" flex="5">
  <button class="userNameBtn" flex="5" (click)="getUsername(username.value)">Enter Chat</button>
</div>

<div class="mainChat" *ngIf="nameAdded" layout="column">
   <div class="chatMessMaster" layout="column">
      <div *ngFor="#message of messages" class=chatMess>
         <p id="{{message[0]}}"><strong>{{message[0]}}:</strong> {{message[1]}}</p>
         <p><strong>{{message[2]}}</strong></p>
      </div>
      <p *ngIf="otherUserTyping">{{otherUsername}} is typing...</p>
   </div>

  <div class="chatInput">  
    <form class="msg" action="">
      <textarea class="msgText" autocomplete="off" (keyup)="OnKey($event)" [(ngModel)]="chatBox" placeholder="Message..."></textarea>
      <button class="sendMsg" (click)="send(chatBox)" (ngSubmit)="send(chatBox)"><a href="#{{message[0]}"></a>Send</button>
    </form>
  </div>  

</div>
