<div class="chatStart" *ngIf="!nameAdded" layout="column" >
  <strong flex="5">Enter your name to start chatting</strong>
  <input class="username" #username placeholder="name" flex="5">
  <button flex="5" (click)="getUsername(username.value)">Start</button>
</div>

<div class="mainChat" *ngIf="nameAdded" layout="column">

   <div flex="65" class="chatMessMaster" layout="column">
      <span *ngFor="#message of messages" class=chatMess>
         <p>{{message[0]}}: {{message[1]}}</p>
         <p>{{message[2]}}</p>
      </span>
      <p *ngIf="otherUserTyping">{{otherUsername}} is typing...</p>
   </div>

   <div class="chatInput" flex="20">
      <form class="msg" action="">
        <textarea class="msgText" id="m" autocomplete="off" (keyup)="OnKey($event)" [(ngModel)]="chatBox" placeholder="Message..."></textarea>
        <button class="sendMsg" (click)="send(chatBox)" (ngSubmit)="send(chatBox)">Send</button>
    </form>
   </div>

</div>
