
<h2 layout="row">Where you've been:</h2>
<div layout="row">
  <div class="left" flex="66">

     <div id="map"></div>
     <div *ngFor="#obj of huntTasks" layout="row">
        <strong flex>
           Location
           <p>{{obj.place.name}}</p>
        </strong>
        <strong flex>
           Challenge
           <p>{{obj.task.content}}</p>
        </strong>
     </div>
     <strong>
        Distance Travelled:{{totalDist}} miles
     </strong>

  </div>

  <div class="right" flex="33">

     <my-chat></my-chat>

  </div>

  <!-- <h2>Hunt Chat:</h2>
  <my-chat></my-chat> -->
    <!--<div *ngFor="#obj of huntChats">
      <p>{{obj.username}} said at {{obj.datetime}}</p>
      <p>{{obj.text}}</p>
    </div>
    <div *ngIf="!huntChats">
      <p>No chats to display</p>
    </div>-->

<div *ngIf="error">
  <p>{{error}}</p>
</div>
