.right {
   border: solid;
   background-color: #0288d1;
   /*border-radius: 5px;*/
   border-color: #03a9f4;
}
.tasks {
   border: solid;
   background-color: #0288d1;
   border-color: #03a9f4;
   color: white;
}

.master {
   border: solid;
   background-color: #0288d1;
   border-color: #03a9f4;
   color: white;
}

div h3 {
   vertical-align: middle;
   margin: auto;
}

div p {
   vertical-align: middle;
   margin: auto;
}

#map {
  color: black;
}