<h2>Where you've been:</h2>

  <div id="map"></div>

  <div *ngFor="#obj of huntTasks">
    <strong>Location</strong>
    <p>{{obj.place.name}}</p>
    <strong>Challenge</strong>
    <p>{{obj.task.content}}</p>
    <img *ngIf="obj.image" src="{{obj.image.url}}">
  </div>

  <div>
    <h2>Distance Travelled:</h2>
    <p>{{totalDist}} miles</p>
  </div>

  <h2>Hunt Chat:</h2>
    <div *ngFor="#obj of huntChats">
      <p>{{obj.username}} said at {{obj.datetime}}</p>
      <p>{{obj.text}}</p>
    </div>
    <div *ngIf="!huntChats">
      <p>No chats to display</p>
    </div>

<div *ngIf="error">
  <p>{{error}}</p>
</div>